{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "apollo-client-resolvers": "./local_modules/apollo-client-resolvers",
          "nano-id": "./local_modules/nano-id",
          "vue-formik": "./local_modules/vue-formik"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": ["transform-vue-jsx"]
    }
  }
}
